.list-group-displaying {
    position: relative;
    width: 30vw;
}
.list-group-item {
    list-style-type: none;
    padding-left: 14px;
}
.btn-link {
    position: absolute;
    right: 10px;
    padding-top: 15px;
    color: #0f7ef1;
    border: none;
    background-color: white;
    font-size: 20px;
}
.btn-link:hover {
    color: darkblue;
}
.btn-link:hover {
    cursor: pointer;
}
.grey-color {
    color: gray;
}
@media screen and (max-width: 767px) {
    .list-group-displaying {
        width: 90%;
    }
}