.item-selected {
    background: gray;
    color: white;
}
.item-hover:hover  {
    background: gray;
    color: white;
    cursor: pointer;
}
.overflow-scroll {
    max-height: 300px;
    overflow-y: scroll;
}
.form-width {
    width: 30%;
}
.item-showing {
    display: none;
}
@media screen and (max-width: 767px){
    .form-width {
        width: 90%;
    }
    .mobile-direction {
        flex-direction: column;
    }
}