.display-flex {
    display: flex;
}
.margin-top {
    margin-top: 30px;
}
.form-width {
    width: 50%;
}
label {
    display: block;
}

.list-group {
    position: absolute;
    margin-top: 16px;
    text-align: left;
    padding-left: 0;
    color: #444;
    line-height: 50px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}
.btn {
    font-size: 14px;
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
.btn:hover {
    cursor: pointer;
    color: #ffffff;
    background: gray;
    border-color: gray;
    transition: all 0.4s ease 0s;
}
.btn-block-position {
    align-self: flex-end;
    margin-left: 20px;
}
.btn-block-width {
    width: 40%;
}
.item-selected {
    background: gray;
    color: white;
}
.item-hover:hover  {
    background: gray;
    color: white;
    cursor: pointer;
}
.overflow-scroll {
    max-height: 300px;
    overflow-y: scroll;
}
@media screen and (max-width: 767px) {
    .mobile-direction {
        flex-direction: column;
    }
    .form-width {
        width: 96%;
    }
    .btn-block-position {
        margin-left: 0;
        margin-top: 20px;
        align-self: flex-start;
    }
    .margin-top-mobile {
        margin-top: 30px;
    }
    .list-group {
        position: relative;
        width: 100%;
    }
}